@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

body {
    background-color: #111827;
    color: white;
    height: 100vh;
    width: 100vw;
    font-size: 1vw;
}


div#container {
    display: flex;
    flex-direction: column;

    align-items: center;

    min-height: 100%;

    min-width: 400px;
    width: 70vw;
    margin:0 auto; 
}

/* div {
    width: 10px;
    border: 5px solid white;
    margin: 5px;
} */

/*  */
/*  */
div#title {
    margin: 10% 5px 5px 5px; 
    height: 10vh;
    max-height: 10vh;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#title {
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    font-size: 2vw;

    flex-grow: 3;
    margin: 5px;
}

.rpsDecor {
    flex-grow: 1;
    font-size: 3rem;
    text-align: center; 
    max-width: 80px;
}

div#description {
    margin: 3% 5px 5px 5px;
    width: 60%;
    text-align: center;
}

p {
    font-size: 1.5vw;
}
/*  */
/*  */
div#scoreContainer {
    margin: 3vh;
    width: 50%;
    height: 10vh;
    min-height: 50px;
    display: flex;
    align-items: center;
}

div.score {
    font-family: 'Bowlby One SC', cursive;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    border: 5px solid white;
}
#wins, #losses, #ties {
    font-size: 2vh;
}
/*  */
/*  */
div#choiceDisplay {
    margin-top: 2vh;
    width: 30%;
    height: 10vh;
    min-height: 50px;
    display: flex;
}

#choiceDisplay div{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#yourChoice, #computerChoice {
    flex-grow: 1;
    text-align: center;
    font-size: 5vh;
} 
/*  */
/*  */
#rpsElements {
    margin: 6vh;
    width: 40%;
    height: 10vh;
    min-height: 50px;
    display: flex;
}

#rpsElements button, #submitButton {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    }

#rock, #paper, #scissors, #submitButton {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    font-size: 6vh;
    box-shadow: 5px 2px 2px black;
    margin: 3px;
}

#rock:hover, #paper:hover, #scissors:hover, #submitButton:hover {
    background-color: #1a253b;
}
/*  */
#submitButton {
    display: flex;
    font-size: 3vh;
    box-shadow: 10px 5px 5px black;
    margin: 0px;
    padding: 6px;
    max-height: 5vh;
    text-align: center;
}